body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 35px;
}

.banner {
  display: block;
  background: url(images/donation1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  height: 600px;
  padding: 10px 2px;
  text-align: center;
}

.banner-intro {
  text-align: center;
  color: white;
}

.banner-description {
  text-align: center;
  color: white;
  margin-bottom: 56px;
}

.donate-button {
  text-decoration: none;
  background: #f85a5c;
  padding: 15px 20px;
  border-radius: 0px;
  font-weight: 400;
  border-radius: 5.5px;
  color: aliceblue;
}

.banner-content {
  margin-top: 250px;
}

.donate {
  padding: 20px 100px;
  text-align: center;
  margin-top: 100px;
}

.flex-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
  margin-top: 50px;
}



.box {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

.box-plan {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.box-growing {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}


.box-contact {
  width: 70%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 6px #b1afaf;
}

.boxbg {
  background-color: rgb(242, 242, 242);
}

#borderbox {
  border: 2px;
  border-style: solid;
  border-radius: 0px 8px 0px 8px;
  color: #f85a5c;
}

.other_amount {
  margin-bottom: 25px;
  margin-top: 60px;
}

input {
  width: 50%;
  height: 35px;
  text-align: center;
  font-size: 16px;
  border-style: none;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.plan {
  display: flex;
  width: 100%;
}

.donateboxa {
  background-color: #ffe6e6;
}
.donateboxb {
  background-color: #f2d1d1;
}
.donateboxc {
  background-color: #daeaf1;
}
.donateboxd {
  background-color: #c6dce4;
  margin-left: 200px;
  margin-right: 200px;
}

.donateboxe {
  background-color: #C4DFAA;
  margin-left: 50px;
  margin-right: 50px;
}

.donateplan {
  text-align: left;
}

.flex-container-b {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  justify-content: center;
  margin-top: 50px;
}

.mailbox {
  width: 45%;
  height: 35px;
}

.sub-button {
  text-decoration: none;
  background: #4b5d67;
  padding: 10px 20px;
  border-radius: 0px;
  font-weight: 400;
  border-radius: 5.5px;
  color: aliceblue;
}

.subscribe-box {
  padding-top: 70px;
  padding-bottom: 50px;
  margin-top: 50px;

}

footer {
  background-color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
}

.special-h1 {
  color: aliceblue;
  font-family: "Lucida Handwriting";
}

.foot-text {
  color: #c6dce4;
}
.column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  #findout  {
    text-decoration: none;
  }